name: Magisk Build (23000)

on:
  workflow_dispatch:
    inputs:
      MAGISK_REPO:
        description: 'Magisk Repository'
        required: true
        default: 'https://github.com/zcg9783/Magisk'
      MAGISK_BRANCH:
        description: 'Magisk Repository Branch'
        required: true
        default: 'master'

jobs:
  build:
    name: Build Magisk
    runs-on: ubuntu-22.04
    env:
      SCCACHE_DIRECT: false
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Clone Magisk
        run: |
          git clone https://github.com/topjohnwu/Magisk -b master ./Magisk || true
          cd Magisk
          git checkout 8aaa45c62a204af35da9d5366dc8b6698b1d043b
          git submodule update --init --recursive --force
          echo "MAGISK_VERS=$(awk -F'=' '/magisk.versionCode/ {print $2}' Magisk/gradle.properties)" >> $GITHUB_ENV

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "11"

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Set up sccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          variant: sccache
          key: ${{ runner.os }}-${{ github.sha }}
          restore-keys: ${{ runner.os }}
          max-size: 10000M

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            !~/.gradle/caches/build-cache-*
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Cache build cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches/build-cache-*
          key: ${{ runner.os }}-build-cache-${{ github.sha }}
          restore-keys: ${{ runner.os }}-build-cache-

      - name: Set up NDK
        run: cd Magisk && python build.py -v ndk
        shell: bash  

      - name: Setup environment
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
          sudo apt-get update
          sudo apt-get install --only-upgrade libstdc++6 -y
          sudo apt install unzip

      - name: Patch
        run: |
          cd Magisk
          curl -o native/jni/core/scripting.cpp https://vip.123pan.cn/1814215835/27048025
          curl -o native/jni/core/bootstages.cpp https://vip.123pan.cn/1814215835/25317993
          curl -o native/jni/init/magiskrc.inc https://vip.123pan.cn/1814215835/27048026
          curl -o app/src/main/java/com/topjohnwu/magisk/ui/MainActivity.kt https://vip.123pan.cn/1814215835/25318302
          curl -o native/jni/magiskpolicy/rules.cpp https://vip.123pan.cn/1814215835/25318417
          curl -o native/jni/su/su_daemon.cpp https://vip.123pan.cn/1814215835/25318418
          curl -o app/shared/src/main/java/com/topjohnwu/magisk/ProviderInstaller.java https://vip.123pan.cn/1814215835/27048008
          curl -o native/jni/magiskhide/hide_policy.cpp https://vip.123pan.cn/1814215835/27048035

      - name: Build release
        continue-on-error: true
        run: cd Magisk && ./build.py -vr all && mv out/app-release.apk out/napp-release.apk

      - name: Build debug
        continue-on-error: true
        run: cd Magisk && ./build.py -v all && mv out/app-debug.apk out/napp-debug.apk

      - name: Patch2
        run: |
          cd Magisk
          curl -o native/jni/su/su_daemon.cpp https://vip.123pan.cn/1814215835/27048041

      - name: Build release
        continue-on-error: true
        run: cd Magisk && ./build.py -vr all

      - name: Build debug
        continue-on-error: true
        run: cd Magisk && ./build.py -v all

      - name: Stop gradle daemon
        run: cd Magisk && ./gradlew --stop

      - name: Upload native binaries
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}-native
          path: Magisk/native/out
          compression-level: 9

      - name: Upload out
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}-out
          path: Magisk/out
          compression-level: 9

      - name: Upload to Release
        continue-on-error: true
        uses: softprops/action-gh-release@v1
        with:
          files: |
            Magisk/out/app-release.apk
            Magisk/out/app-debug.apk
            Magisk/out/napp-release.apk
            Magisk/out/napp-debug.apk
          name: Unofficial Magisk Build Release v${{ env.MAGISK_VERS }}
          tag_name: ${{ github.run_id }}
          body: |
            ## Resources
            - [Magisk Repository](${{ inputs.MAGISK_REPO }}/tree/${{ inputs.MAGISK_BRANCH }})
            ## Available Downloads
            - Release, for normal usage.
            - Debug, solely for debugging purposes.
            ## Notes
            - I, carlodandan, won't entertain any flashing/app/patching issue. Contact whoever the maintainer of the Magisk repository you used for building. Again, the builder you used is for personal use only. I am not responsible with any of the error upon flashing or patching.
